/* Disable Headroom hide/show behavior */
.headroom {
  transform: translateY(0%) !important;
}

/* Optional: ignore pinned/unpinned states entirely */
.headroom--pinned,
.headroom--unpinned {
  transform: translateY(0%) !important;
}

/* Prevent content from hiding behind navbar */
body {
  padding-top: 70px;
}

img.navbar-logo {
    max-height: 50px !important;
}


#quarto-sidebar,
#quarto-margin-sidebar {
  top: 78px !important;
}